*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(120deg, #ff583bd8, #ffb325da);
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    padding: 10px;
    border-radius: 5px;
}

input{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    padding: 10px;
    border-radius: 5px;
}

.nnsei div{
    height: 170px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
    
}
